[Unit]
Description="Relayer relay packets Service"
After=network.target
[Service]
EnvironmentFile=/home/ubuntu/code/relayer.env
Type=oneshot
User=ubuntu
ExecStart=/home/ubuntu/go/bin/rly tx relay-packets -l 1 $RELAYER_PATH $RELAYER_CHANNEL
[Install]
WantedBy=multi-user.target